# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-toml
  - id: check-added-large-files
  - id: check-builtin-literals
  - id: check-docstring-first
- repo: local
  hooks:
  - id: isort
    name: isort
    entry: isort
    language: python
    args: ["--profile", "black"]
  - id: black
    name: black
    entry: black
    language: python
    types: [python]
  - id: autoflake
    name: autoflake
    entry: autoflake
    language: python
    args: ['--config', './setup.cfg']
  - id: flake8
    name: flake8
    entry: flake8
    language: python
    types: [python]
    args: ['--config', './setup.cfg']
  - id: mypy
    name: mypy
    entry: mypy
    language: python
    types: [python]
    args: ['--config-file', './setup.cfg']
  - id: pytest
    name: pytest
    entry: pytest
    language: python
    types: [python]
    pass_filenames: false
  - id: coverage-run
    name: coverage-run
    entry: coverage run
    language: python
    types: [python]
    args: ['-m', 'pytest']
  - id: coverage-report
    name: coverage-report
    entry: coverage report
    language: python
    types: [python]
    args: ['-m']


default_language_version:
  python: python3.11
